.header {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}
.signout
{
    /* position: ; */
    background: none;
    border: 1px solid white;
    padding: 2px 15px;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    /* margin-right: -15px; */
    font-size: 17px;
    transition: 0.3s;
}

.signout:hover
{
    color: black;
    background-color: white;
    transition: 0.3s;
}
.active-link
{
    display: flex;
}
.header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 36px;
}
.header a:hover {
  color: orange;
}
@media (max-width:991px) {
  img#optionalstuff {
    display: none;
  }
}